In [1]:
#pandas学习

In [2]:
#dataframe
import pandas as pd
import numpy as np
# 列
i = ["A","B","C","D","E"]
# 行
o = [2,3]
p = pd.DataFrame(np.linspace(1,10,10).reshape(2,5),index=o,columns=i)
p

     A    B    C    D     E
2  1.0  2.0  3.0  4.0   5.0
3  6.0  7.0  8.0  9.0  10.0

In [3]:
# 索引
p["A"]

2    1.0
3    6.0
Name: A, dtype: float64

In [4]:
p[2:3]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [5]:
#.loc方法  根据特征选择  loc[]中的参数都应该为list
p.loc[2,["A","B"]]

A    1.0
B    2.0
Name: 2, dtype: float64

In [6]:
#.iloc方法  根据位置选择   iloc[]中的参数都应该为list
p.iloc[1:,1:3]

     B    C
3  7.0  8.0

In [7]:
#修改值的方法
p.loc[2,["A","B"]] = [2,3]
p

     A    B    C    D     E
2  2.0  3.0  3.0  4.0   5.0
3  6.0  7.0  8.0  9.0  10.0

In [8]:
p.iloc[0,[0,1]] = [1,2]
p

     A    B    C    D     E
2  1.0  2.0  3.0  4.0   5.0
3  6.0  7.0  8.0  9.0  10.0

In [9]:
p[p > 5] = 5
p

     A    B    C    D    E
2  1.0  2.0  3.0  4.0  5.0
3  5.0  5.0  5.0  5.0  5.0

In [10]:
p.A[p.A>0] = 0
p

     A    B    C    D    E
2  0.0  2.0  3.0  4.0  5.0
3  0.0  5.0  5.0  5.0  5.0

In [11]:
p.E = np.NaN
p

     A    B    C    D   E
2  0.0  2.0  3.0  4.0 NaN
3  0.0  5.0  5.0  5.0 NaN

In [12]:
import pandas as pd
import numpy as np
#添加列
p1 = pd.Series([4,5],index=[2,3])
p1

2    4
3    5
dtype: int64

In [13]:
p = pd.DataFrame(np.linspace(1,10,10).reshape(2,5),index=o,columns=i)
p["F"] = p1
p

     A    B    C    D     E  F
2  1.0  2.0  3.0  4.0   5.0  4
3  6.0  7.0  8.0  9.0  10.0  5

In [14]:
#处理空数据
import pandas as pd
import numpy as np
i = pd.date_range(start="20200101",end="20200105")
c = ["A","B","C","D"]
p2 = pd.DataFrame(np.linspace(1,20,20).reshape(5,4),index=i,columns=c)
p2
p2.loc["20200101","A"] = np.NaN
p2.loc["20200105","C"] = np.NaN
print(p2)
#空数据
#丢掉行axis=0
p2.dropna(axis=0,how="any")
#丢掉列axis=1
p2.dropna(axis=1,how="any")
#填值 nan填value
p2.fillna(value=0)
#检查空值
p2.isna()
np.any(p2.isna()==True)
np.all(p2.isna()==True)

               A     B     C     D
2020-01-01   NaN   2.0   3.0   4.0
2020-01-02   5.0   6.0   7.0   8.0
2020-01-03   9.0  10.0  11.0  12.0
2020-01-04  13.0  14.0  15.0  16.0
2020-01-05  17.0  18.0   NaN  20.0

False

In [15]:
#导入与导出
import pandas as pd
p3 = pd.read_excel("././data/test.xlsx")
p3
p3.loc[1] = [5,6,7,8]
p3.loc[3] = [4,5,6,7]
p3.to_excel("text1.xlsx")